@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";
@font-face {
  font-family: 'Danjo-bold-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/DanjoBold-Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-navy: #000b24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark-navy: var(--color-dark-navy);
}
/* 
 @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

body {
  /* background: var(--background); 
  color: var(--foreground);  */
  background:#ffffff !important;
  color : #171717;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}
.font-songmyung {
  font-family: 'Song Myung', 'Pretendard', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Times New Roman', serif;
}
.font-danjo {
  font-family: 'Danjo-bold-Regular', 'Song Myung', 'Pretendard',
    'Apple SD Gothic Neo', 'Malgun Gothic', 'Times New Roman', serif;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

